---
- name: Ensure git (Debian)
  when: ansible_facts['os_family'] == "Debian"
  become: true
  ansible.builtin.apt:
    name:
      - git
      - git-delta
      - tig
    state: present

- name: Ensure git (ArchLinux)
  when: ansible_facts['os_family'] == "Archlinux"
  become: true
  ansible.builtin.pacman:
    name:
      - git
      - git-delta
      - tig
    state: present

- name: Ensure git (MacOS)
  when: ansible_facts['os_family'] == "Darwin"
  community.general.homebrew:
    name:
      - git
      - git-delta
      - tig
    state: present

- name: Copy gitconfig
  ansible.builtin.template:
    src: gitconfig.j2
    dest: ~/.gitconfig
    mode: "0644"
