---
- name: Ensure common packages (Debian)
  become: "{{ ansible_user_id != 'root' }}"
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present

- name: Ensure Debian-specific packages (Debian)
  become: "{{ ansible_user_id != 'root' }}"
  ansible.builtin.apt:
    name: "{{ apt_common_packages }}"
    state: present

- name: Ensure identity and permissions (1st run)
  when: ansible_user_id == "root"
  import_tasks: identity.yml
